@import "bootstrap";

h1{
    text-align: center;
}

nav{
    background-color: deepskyblue;
    padding: 12px;
    .navlink{
        font-size: 20px;
        color:white;
        text-decoration: none;
    }
}
.user_card{
    width: 480px;
    margin-bottom: 15px;
}

