@import "bootstrap";


nav{
    background-color: deepskyblue;
    padding: 12px;
    .navlink{
        font-size: 20px;
        color:white;
        text-decoration: none;
    }
}
.user_card{
    margin-bottom: 15px;
}

.deleteButton{
    float: right;
}
.hidden{
    display: none;
}
ul{
    list-style: none;
}

.like_button{
    margin: 10px 0px;
}

.btn_like_red{
    background-color: #e76f51;
    color: white;
}
 
