@import "bootstrap";


nav{
    background-color: deepskyblue;
    padding: 12px;
    .navlink{
        font-size: 20px;
        color:white;
        text-decoration: none;
    }
}
.user_card{
    margin-bottom: 15px;
}

.deleteButton{
    float: right;
}
.hidden{
    display: none;
}
ul{
    list-style: none;
}

